/* @import 'p-accessibility.css'; */

@import 'p-pages-and-headers-espd.css';
@import 'p-front-page-espd.css';
@import 'p-images-gost.css';
@import 'p-styling-espd.css';

@namespace a "http://www.oxygenxml.com/extensions/publishing/dita/css/params";

/* Debug */
/* {
   border: 1pt solid blue !important;
}

*:before(1000) {
   content:  oxy_name() !important;
   font-size: 8pt !important;
   color: orange;
}

*:before(999) {
   content: "[ class= '" attr(class) "'] " !important;
   font-size: 8pt !important;
   color: orange;
} */

@font-face {
	font-family: "GOST Type A", Symbol;
	src: url('../fonts/gost_a.ttf');	
}

@font-face {
	font-family: "GOST Type A", Symbol;
	src: url('../fonts/gost_ai.ttf');
	font-style: italic;
}

@font-face {
	font-family: "GOST Type A", Symbol;
	src: url('../fonts/gost_ab.ttf');
	font-weight: bold;
}

@font-face {
	font-family: "GOST Type A", Symbol;
	src: url('../fonts/gost_abi.ttf');
	font-style: italic;
	font-weight: bold;
}

/* For the content inside the document.*/
:root {
	font-family: "GOST Type A";
	font-size: 14pt !important;	
	hyphens: auto;
	text-align: justify;
	orphans: 4;
	widows: 4;
}

/* для заголовков переносы выкл. */
*[class~="topic/topic"] > *[class~="topic/title"] {
	hyphens: none;
	text-align: left;
}

/*-------------------------------
 * The default page layout.
 *-------------------------------*/
@page {
	size: A4;
	margin-top: 2cm;
	margin-right: 1cm;
	margin-left: 2cm;
	margin-bottom: 1cm;
}

@page table-of-contents:first:left, table-of-contents:first:right {
	size: A4;
}

 @page :left {
	@top-left {
		content: none;
	}
}

@page :right {
	@top-right {
		content: none;
	}
}

@page chapter:first:left {
	@top-left {
		content: none;
	}
}
@page chapter:first:right {
	@top-right {
		content: none;
	}
}