/*
 * =====================================================
 * 
 * Defines the front page aspect.
 * 
 * It matches the XSL created <front-page/> element.
 * 
 * =====================================================
 */

@namespace a "http://www.oxygenxml.com/extensions/publishing/dita/css/params";

@page front-page {
	size: A4;
	margin-top: 2.5cm;
	margin-right: 1cm;
	margin-left: 2cm;
	margin-bottom: 8cm;
}

*[class~='front-page/front-page'] {
	font-family: "GOST Type A";
	page: front-page;
}

@page front-page, front-page-common {
	@top-left-corner {
		content: none;
	}
	@top-left {
		content: none;
	}
	@top-center {
		font-family: "GOST Type A";
		font-size: 14pt;
		text-align: center;
		content: '\a' oxy_xpath("(//*[contains(@class, 'bookmap/organization')]/data())[1]");
	}
	@top-right {
		content: none;
	}
	@top-right-corner {
		content: none;
	}
	@bottom-left-corner {
		content: none;
	}
/*	@bottom-left {
		font-family: 'GOST Type A';
		font-size: 14pt;
        text-align: left;
        vertical-align: top;
		content: 
			'\a'
			oxy_xpath("(//*[contains(@class, 'xnal-d/otherinfo')]/text())[2]")
			'\a'
			oxy_xpath("(//*[contains(@class, 'xnal-d/firstname')]/text())[2]")
			'\a'
			oxy_xpath("(//*[contains(@class, 'xnal-d/organizationname')]/text())[1]")
			'\a\a'
			"______________________________"
			'\a\a'
			oxy_xpath("//*[contains(@class, 'bookmap/day')]/text()") "   " oxy_xpath("//*[contains(@class, 'bookmap/month')]/text()") "   " oxy_xpath("//*[contains(@class, 'bookmap/year')]/text()") " г.";
	}*/
	@bottom-center {
		font-family: 'GOST Type A';
		font-size: 14pt;
        text-align: center;
        vertical-align: bottom;
		padding-bottom: 1cm;
		content: 
			"Москва " 
			oxy_xpath("//*[contains(@class, 'bookmap/year')]/text()") 
			'\a';
	}
	@bottom-right {
		font-family: 'GOST Type A';
		font-size: 14pt;
        text-align: right;
        vertical-align: top;
		content: 
			"СОГЛАСОВАНО"
			'\a'
			oxy_xpath("(//*[contains(@class, 'xnal-d/otherinfo')]/text())[1]")			
			'\a'
			oxy_xpath("(//*[contains(@class, 'xnal-d/firstname')]/text())[1]")
			'\a'
			oxy_xpath("(//*[contains(@class, 'xnal-d/organizationname')]/text())[1]")
			'\a\a'
			"______________________________"
			'\a\a'
			oxy_xpath("//*[contains(@class, 'bookmap/day')]/text()") "   " oxy_xpath("//*[contains(@class, 'bookmap/month')]/text()") "   " oxy_xpath("//*[contains(@class, 'bookmap/year')]/text()") " г.";
	}
	@bottom-right-corner {
		content: none;
	}
}

@page title-page {
	@top-left-corner {
		content: none;
	}
	@top-left {
		font-size: 12pt;
		font-family: "GOST Type A";
		content: "УТВЕРЖДЕНО\a\a" oxy_xpath("(//*[contains(@class, 'topic/prodname')]/data())[1]") "-ЛУ";
	}
	@top-center {
		content: none;
	}
	@top-right {
		content: none;
	}
	@top-right-corner {
		content: none;
	}
	@bottom-left-corner {
		content: none;
	}
	@bottom-left {
		content: none;
	}
	@bottom-center {
		content: none;
	}
	@bottom-right {
		content: none;
	}
	@bottom-right-corner {
		content: none;
	}
}

@page title-page {
	background-image: url('../background/espd_title_page.svg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: 210mm 290mm;
}

@page my-blank-page {
	display: none;
}

/* Текст до заголовка книги */

 *[class~="front-page/front-page-title"]:before(12) {
    display:block;
	margin-top: 3cm;
    font-family: "GOST Type A";
    text-align: right;
	content: "УТВЕРЖДАЮ\A";
}

*[class~="front-page/front-page-title"]:before(11) {
	font-family: "GOST Type A";
    text-align: right;
    content: "";
    display:block;
}

 *[class~="front-page/front-page-title"]:before(10) {
    display:block;
    font-family: "GOST Type A";
    text-align: right;
    content: "Генеральный директор\A";
}

*[class~="front-page/front-page-title"]:before(9) {
	font-family: "GOST Type A";
    text-align: right;
    content: "";
    display:block;
}

 *[class~="front-page/front-page-title"]:before(8) {
    display:block;
    font-family: "GOST Type A";
    text-align: right;
    content: "OOO \00ab КНС ГРУПП\00bb\A";
}

*[class~="front-page/front-page-title"]:before(7) {
	font-family: "GOST Type A";
    text-align: right;
    content: "";
    display:block;
}

 *[class~="front-page/front-page-title"]:before(6) {
    display:block;
    font-family: "GOST Type A";
    text-align: right;
    content: "Морозов Н.Л.\A";
}

*[class~="front-page/front-page-title"]:before(5) {
    text-align: right;
    content: "";
    display:block;
	margin-top: 1em;
}

 *[class~="front-page/front-page-title"]:before(4) {
    display:block;
    font-family: "GOST Type A";
    text-align: right;
    content: "____________________";
}

*[class~="front-page/front-page-title"]:before(3) {
    text-align: right;
    content: "";
    display:block;
	margin-top: 1em;
}

 *[class~="front-page/front-page-title"]:before(2) {
    display:block;
	margin-bottom: 2cm;
    font-family: "GOST Type A";
    text-align: right;
    content: oxy_xpath("//*[contains(@class, 'bookmap/day')]/text()") "   " oxy_xpath("//*[contains(@class, 'bookmap/month')]/text()") "   " oxy_xpath("//*[contains(@class, 'bookmap/year')]/text()") " г.";
}

 *[class~="front-page/front-page-title"]:before(1) {
    display:block;
	margin-bottom: 1cm;
    font-family: "GOST Type A";
	font-size: 20pt;
    text-align: center;
	text-transform: uppercase;
	font-weight: normal !important;
    content: oxy_xpath("(//*[contains(@class, 'topic/series')]/data())[1]");
}

/* Заголовок книги */

*[class~='front-page/front-page-title'] {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 2cm;
	font-family: "GOST Type A";
	font-weight: normal !important;
	font-size: 14pt;
	hyphens: none;
}

*[class~='front-page/front-page-title'] > *[class~='topic/title'] {
	text-transform: uppercase;
	text-align: center;
	font-family: "GOST Type A";
	font-weight: normal !important;
	font-size: 20pt;
	hyphens: none;
}

/* Текст после заголовка книги */

*[class ~= "bookmap/booktitle"]:after(2) {
	font-family: "GOST Type A";
    display:block;
	text-align: center;
    content: "Лист утверждения" '\A';
	font-size: 14pt;
	margin-top: 2cm; 
}

*[class ~= "bookmap/booktitle"]:after(3) {
	font-family: "GOST Type A";
    display:block;
	text-align: center;
    content: oxy_xpath("(//*[contains(@class, 'topic/prodname')]/data())[1]") '-ЛУ';
	font-size: 14pt;
}

/* А теперь - титульный лист */

*[class~='front-page/front-page']:after {
	page: title-page;
	counter-reset: page 1 !important;
}

/*[class~="front-page/front-page"]:after(1) {
    display:block;
	page: title-page;
	margin-top: 11.5cm;
    font-family: "GOST Type A";
	font-size: 20pt;
    text-align: center;
	text-transform: uppercase;
	hyphens: none;
    content: none;
} */

*[class~='front-page/front-page']:after(1) {
	display: block;
	page: title-page;
	text-align: center;
	font-size: 20pt;
	padding-top: 12cm;
	text-transform: uppercase;
	hyphens: none;
	content: oxy_xpath("(//*[contains(@class, 'bookmap/mainbooktitle')]/*[contains(@class, 'topic/ph')]/text())[1]") '\a';
}

*[class~='front-page/front-page']:after(2) {
	display: block;
	page: title-page;
	text-align: center;
	font-size: 17pt;
	text-transform: uppercase;
	hyphens: none;
	content: oxy_xpath("(//*[contains(@class, 'bookmap/booktitlealt')]/text())[1]");
}

*[class~='front-page/front-page']:after(3) {
	display: block;
	page: title-page;
	text-align: center;
	font-size: 14pt;
	font-weight: normal;
	margin-top: 3cm;
	content: "Листов " counter(pages);
}