*[class ~= "topic/fig"] {
  text-align: center;
  font-size: 10pt;
  font-weight: bold;
  margin-top: 10px !important;
  margin-bottom: 10px !important;
  margin-left: 10px !important;
  margin-right: 10px !important;
}

*[class ~= "topic/fig"] > *[class ~= "topic/title"] {
  page-break-before: avoid !important;
  page-break-after: auto !important;
  text-align: center;
}

*[class ~= "topic/image"] {
	width: 15cm !important;
}

*[class ~= "topic/image"][outputclass="no-width"] {
	width: attr(width, length) !important;
	height: attr(height, length) !important;
}

/* Other images, with break placement. */
*[class ~= "topic/image"][placement='break']{
  display: block;
  text-align: center;
  font-size: 8pt;
  margin-top: 10px !important;
  margin-bottom: 10px !important;
}